<app-small-banner></app-small-banner>

<section>
    <div class="container">
      <div class="row">

       <div class="col-md-6" style="background-color: green; color: #fff;">
          <h2 class="text-center pb-3 pt-3">Reach Us</h2>
         <p class="contact-address">
          <i class="fa fa-map-marker"></i>
           Western LED Solution, Handewadi, Katraj Bypass Road, 
          Near Sopan Kaka Bank, Hadapsar, Pune, Maharashtra 412308
         </p>
          <p class="contact-number">
            <i class="fa fa-phone"></i>
            +91 95798 18112 | +91 97628 00808
         </p>
          <p class="contact-email">
            <i class="fa fa-envelope"></i>
            westernledsolution@gmail.com
         </p>

       </div>

       <div class="col-md-6 contact-us-page">
        <h2 class="text-center pb-3">Send An Enquiry!</h2>
        
          <form #f="ngForm"  method="post"  (submit)="sendEmail($event)" >
            <div class="form-group">
              <input 
                ngModel
                minlength="3"
                maxlength="50"
                type="text" 
                class="form-control" 
                name="name" 
                id="name" 
                #fullname="ngModel"
                placeholder="Enter Full Name" 
                required>
                <div class="alert alert-danger" *ngIf="fullname.touched && !fullname.valid"> 
                    <div *ngIf="fullname.errors.required">full name is required</div>
                    <div *ngIf="fullname.errors.minlength">full name should be minimum 
                        {{fullname.errors.minlength.requiredLength}} characters
                    </div>
                    <div *ngIf="fullname.errors.maxlength">full name should be maximum 
                        {{fullname.errors.maxlength.requiredLength}} characters
                    </div>
                </div>
            </div>
            <div class="form-group">
              <input 
                ngModel  
                type="email" 
                class="form-control"  
                name="email"
                id="email"
                #emailId="ngModel" 
                placeholder="Enter Email" 
                required>
                <div class="alert alert-danger" *ngIf="emailId.touched && !emailId.valid">
                   Email Id is required
                </div>
            </div>
            <div class="form-group">
              <input 
                ngModel 
                type="tel" 
                class="form-control"
                name="phone"  
                id="phone"  
                #phoneNumber="ngModel"  
                placeholder="Enter Number" 
                required>
                <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid"> 
                  Phone Number is required
                </div>
            </div>
            <div class="form-group">
              <input 
                ngModel
                minlength="3"
                maxlength="50"
                type="text" 
                class="form-control" 
                name="subject" 
                id="subject" 
                #subject="ngModel"
                placeholder="Subject" 
                required>
                <div class="alert alert-danger" *ngIf="subject.touched && !subject.valid"> 
                    <div *ngIf="subject.errors.required">Subject is required</div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" id="message" name="message"></textarea>
            </div>

            <button
                (click)="getContactData()"
                class="btn btn-primary"
                [disabled]="!f.valid" 
                type="submit">
                Submit Enquiry
            </button>
          </form>
       </div>

      </div>
    </div>
  </section>