    <app-small-banner></app-small-banner>
    <!-- about start -->
    <section>
        <div class="container about">
            <div class="row">
                <div class="col-md-6">
    
                    <h1 class="section-head"> {{aboutTitle}} </h1>
                    <p class="text-justify" style="line-height: 40px;"> {{aboutUsText}} </p>
                </div>
                <div class="col-md-6">
                    <div class="w3-content w3-section">
                        <img class="mySlides" src="{{aboutSrc}}" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about end -->


    <section class="why-choose-us">
        <div class="container" >
         <h3 class="section-head text-center "> {{whyCoouse}} </h3>
          <div class="row col pt-3 pb-3 text-center">
            <div class="col-md-2 offset col-md-2">
             <i class="fa fa-address-card"></i>
             <p>Quality LED Display</p>
            </div>
            <div class=" col-md-2">
               <i class="fa fa-users"></i>
               <p>Qualified Team</p>
            </div>
            <div class=" col-md-2">
                <i class="fa fa-check"></i>
                <p>Quality Assurance</p>
            </div>
           <div class=" col-md-2">
                 <i class="fa fa-cog"></i>
                 <p>After Sales Services</p>
            </div>
            <div class=" col-md-2">
                  <i class="fa fa-smile-o"></i>
                  <p>Customer Satisfaction</p>
            </div>
          </div>
        </div>
    </section> 