<section class="mission-vision">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
          
          <img src="{{missionSrc}}" class="mb-2" width="20%">
          <h3>{{missionTitle}}</h3>
          <p class="text-justify"> {{missionDesc}} </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          
          <img src="{{visionSrc}}" class="mb-2" width="20%">
          <h3>{{visionTitle}}</h3>
          <p class="text-justify">{{visionDesc}}</p>
        </div>
      </div>
    </div>
  </section>