    <div class="sidebar">
      <button class="text-center service-btn">Our Services</button>
        <ul>
            <li>
            <i class="fa fa-angle-double-right"></i>
            <a routerLink="/led-display"> LED Display</a>
            </li>
            <li>
            <i class="fa fa-angle-double-right"></i>
            <a routerLink="/advertising"> Advertising </a>
            </li>
            <li>
            <i class="fa fa-angle-double-right"></i>
            <a routerLink="/event-and-stage-show"> Event & Stage Show</a>
            </li>
            <li>
            <i class="fa fa-angle-double-right"></i>
            <a routerLink="/airport-and-railway"> Airport & Railway</a>
            </li>
            <li>
            <i class="fa fa-angle-double-right"></i>
            <a routerLink="/mobile-van-road-show"> Mobile Van / Road Show</a>
            </li>
            <li>
            <i class="fa fa-angle-double-right"></i>
            <a routerLink="/scrolling-boards"> Scrolling Boards</a>
            </li>
            <li>
            <i class="fa fa-angle-double-right"></i>
            <a routerLink="/3d-hologram-fan"> 3D Hologram Fan</a>
            </li>
        </ul>
    </div>
